In [22]:
import pandas as pd
import altair as alt

currency_df = pd.read_csv('./data/raw/currency_data.csv')
currency_df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,NaN
1,Africa Eastern and Southern,AFE,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,1.719656e+01,1.719656e+01,1.719656e+01,3.510964e+01,3.869226e+01,3.869226e+01,...,61.143462,67.866086,68.026904,72.083247,77.737949,76.813536,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,2.866844e-08,2.873486e-08,2.867844e-08,2.875203e-08,2.881978e-08,2.877853e-08,...,120.060702,163.656434,165.915951,252.855748,364.825805,578.258780,631.441956,460.567512,685.020238,NaN
5,Albania,ALB,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,125.961667,124.142500,119.100000,107.989167,109.850833,108.650000,103.520000,113.041667,100.645000,NaN
6,Andorra,AND,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.845377,0.950916,0.924710,NaN
7,Arab World,ARB,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,United Arab Emirates,ARE,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,3.672500,3.672500,3.672500,3.672500,3.672500,3.672500,3.672500,3.672500,3.672500,NaN
9,Argentina,ARG,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,1.387167e-11,1.403917e-11,1.695667e-11,...,9.233186,14.758175,16.562707,28.094992,48.147892,70.539167,94.990742,130.616550,296.258042,NaN

In [23]:
tourism_df = pd.read_csv('./data/preprocessed/formatted_tourists.csv')
tourism_df.head(10)

,country,Units,Notes,Series,1995,1996,1997,1998,1999,2000,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AFGHANISTAN,Thousands,NaN,NaN,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,ALBANIA,Thousands,1/ 2/,VF,304,287,119,184,371,317,...,3256,3673,4131,4736,5118,5927,6406,2658,5689,7543.8
2,ALGERIA,Thousands,1/,VF,520,605,635,678,749,866,...,2733,2301,1710,2039,2451,2657,2371,591,125,1398
3,AMERICAN SAMOA,Thousands,NaN,VF,..,..,..,..,..,..,...,49.3,51.6,47.1,38.3,42.3,51.8,58.6,..,..,..
4,ANDORRA,Thousands,NaN,VF,..,..,..,..,9422,10991,...,7676,7797,7850,8025,8152,8328,8235,5207,5422,8426.7
5,ANGOLA,Thousands,NaN,NaN,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
6,ANGUILLA,Thousands,NaN,VF,107,86,114,114,107,112,...,151,177,186,176,151,87,166,41.1,28.7,95.8
7,ANTIGUA AND BARBUDA,Thousands,1/,VF,447,498,526,570,560,634,...,777,771,894,874,1040,1064,1035,276,250,642.4
8,ARGENTINA,Thousands,NaN,VF,..,..,..,..,..,..,...,..,..,..,9986,9964,10394,11131,3096,460,7503
9,ARMENIA,Thousands,NaN,NaN,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [24]:
# Convert tourism values to numeric
years = [str(year) for year in range(2009, 2020)]
for year in years:
    tourism_df[year] = pd.to_numeric(tourism_df[year], errors="coerce")

tourism_df["country"] = tourism_df["country"].str.strip().str.lower()

country_name_fixes = {
    "united states of america": "united states",
    "hong kong, china": "hong kong sar, china"
}

# Apply fixes to tourism dataset
tourism_df["country"] = tourism_df["country"].replace(country_name_fixes)

# Get top 10 countries by tourism in 2019
top_8_2019 = tourism_df.nlargest(7, "2019")["country"]

# Filter only these countries
tourism_top_8 = tourism_df[tourism_df["country"].isin(top_8_2019)]

# Reshape tourism data for Altair (Long Format)
tourism_melted = tourism_top_8.melt(id_vars=["country"], value_vars=years, 
                                     var_name="Year", value_name="Tourism")

color_scale = alt.Scale(scheme="category10")

# Create Tourism Line Chart
tourism_chart = alt.Chart(tourism_melted).mark_line().encode(
    x=alt.X("Year:O", title="Year", axis=alt.Axis(labelAngle=0)),
    y=alt.Y("Tourism:Q", title="Tourism Arrivals (thousands)"),
    color=alt.Color("country:N", title="Country", scale=color_scale),
).properties(
    width=800,
    height=700,
    title="Tourism Trends (2009-2019)"
).configure_title(
    fontSize=20
)

tourism_chart

# top_10_2019

/opt/anaconda3/lib/python3.12/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/opt/anaconda3/lib/python3.12/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)

In [25]:
# Convert currency values to numeric
for year in years:
    currency_df[year] = pd.to_numeric(currency_df[year], errors="coerce")

currency_df["Country Name"] = currency_df["Country Name"].str.strip().str.lower()

# Filter only the top 10 countries
currency_top_8 = currency_df[currency_df["Country Name"].isin(top_8_2019)]

# Reshape currency data for Altair (Long Format)
currency_melted = currency_top_8.melt(id_vars=["Country Name"], value_vars=years, 
                                      var_name="Year", value_name="Exchange Rate")

# currency_df

# Create Exchange Rate Line Chart
exchange_chart = alt.Chart(currency_melted).mark_line().encode(
    x=alt.X("Year:O", title="Year", axis=alt.Axis(labelAngle=0)),
    y=alt.Y("Exchange Rate:Q", title="Exchange Rate (LCU per USD)"),
    color=alt.Color("Country Name:N", title="Country", scale=color_scale)
).properties(
    width=800,
    height=700,
    title="Exchange Rate Trends (2009-2019)",
).configure_title(
    fontSize=20
)

exchange_chart

/opt/anaconda3/lib/python3.12/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/opt/anaconda3/lib/python3.12/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)

In [26]:
# Filter only these countries
tourism_top_8 = tourism_df[tourism_df["country"].isin(top_8_2019)].set_index("country")

# Filter only the top 8 countries in the currency dataset
currency_top_8 = currency_df[currency_df["Country Name"].isin(top_8_2019)].set_index("Country Name")

# Keep only 2009-2019 columns
tourism_top_8 = tourism_top_8[years]
currency_top_8 = currency_top_8[years]

# Compute correlation for each country separately
correlation_data = []
for country in top_8_2019:
    if country in tourism_top_8.index and country in currency_top_8.index:
        correlation_value = tourism_top_8.loc[country].corr(currency_top_8.loc[country])
        correlation_data.append({"country": country, "correlation": correlation_value})

# Convert to DataFrame
correlation_df = pd.DataFrame(correlation_data)
correlation_df["correlation"] = pd.to_numeric(correlation_df["correlation"], errors="coerce")
correlation_df["country"] = pd.Categorical(correlation_df["country"], categories=correlation_df["country"], ordered=True)

correlation_df["correlation"] = correlation_df["correlation"].fillna(0)

# Create a bar chart
bar_chart = alt.Chart(correlation_df).mark_bar().encode(
    x=alt.X("correlation:Q", title="Tourism & Exchange Rate Correlation"),
    y=alt.Y("country:N", title="Country"),  # Keep sorting but ensure country is categorical
    color=alt.Color("correlation:Q", title="Correlation", scale=alt.Scale(scheme='magma')),
    tooltip=["country", "correlation"]
).properties(
    width=600,
    height=400,
    title="Tourism & Exchange Rate Correlation by Country"
)


display(bar_chart)

# bar_chart

correlation_df.dtypes

/opt/anaconda3/lib/python3.12/site-packages/numpy/lib/function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/opt/anaconda3/lib/python3.12/site-packages/numpy/lib/function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

alt.Chart(...)

country        category
correlation     float64
dtype: object