In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [ ]:
# Set max rows to a higher value
alt.data_transformers.disable_max_rows()

# Load the datasets
arrivals_df = pd.read_csv("../data/export/df_cleaned_Inbound_Tourism_Arrivals.csv")
transport_df = pd.read_csv("../data/export/df_cleaned_Inbound_Tourism_Transport.csv")
regions_df = pd.read_csv("../data/export/df_cleaned_Inbound_Tourism_Regions.csv")
currency_df = pd.read_csv('../data/raw/currency_data.csv')

# Preview datasets
print("Arrivals DataFrame:")
print(arrivals_df.head())

Arrivals DataFrame:
          Country   1995   1996   1997   1998    1999     2000     2001  \
0         ALBANIA  304.0  287.0  119.0  184.0   371.0    317.0    354.0
1         ALGERIA  520.0  605.0  635.0  678.0   749.0    866.0    901.0
2  AMERICAN SAMOA   34.0   35.0   26.0   36.0    41.0     44.0     36.0
3         ANDORRA    0.0    0.0    0.0    0.0  9422.0  10991.0  11351.0
4          ANGOLA    9.0   21.0   45.0   52.0    45.0     51.0     67.0

      2002     2003  ...    2013    2014    2015    2016    2017    2018  \
0    470.0    557.0  ...  3256.0  3673.0  4131.0  4736.0  5118.0  5927.0
1    988.0   1166.0  ...  2733.0  2301.0  1710.0  2039.0  2451.0  2657.0
2      0.0      0.0  ...    49.3    51.6    47.1    38.3    42.3    51.8
3  11507.0  11601.0  ...  7676.0  7797.0  7850.0  8025.0  8152.0  8328.0
4     91.0    107.0  ...   650.0   595.0   592.0   397.0   261.0   218.0

     2019    2020    2021    2022
0  6406.0  2658.0  5689.0  7543.8
1  2371.0   591.0   125.0  1398.0
2    58.6     0.9     0.0     0.0
3  8235.0  5207.0  5422.0  8426.7
4   218.0    64.0    64.0   130.0

[5 rows x 29 columns]
\Currency DataFrame:
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name Indicator Code  \
0  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF
1  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF
2  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF
3  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF
4  Official exchange rate (LCU per US$, period av...    PA.NUS.FCRF

           1960          1961          1962          1963          1964  \
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2  1.719656e+01  1.719656e+01  1.719656e+01  3.510964e+01  3.869226e+01
3           NaN           NaN           NaN           NaN           NaN
4  2.866844e-08  2.873486e-08  2.867844e-08  2.875203e-08  2.881978e-08

           1965  ...        2015        2016        2017        2018  \
0           NaN  ...    1.790000    1.790000    1.790000    1.790000
1           NaN  ...         NaN         NaN         NaN         NaN
2  3.869226e+01  ...   61.143462   67.866086   68.026904   72.083247
3           NaN  ...         NaN         NaN         NaN         NaN
4  2.877853e-08  ...  120.060702  163.656434  165.915951  252.855748

         2019        2020        2021        2022        2023  Unnamed: 68
0    1.790000    1.790000    1.790000    1.790000    1.790000          NaN
1         NaN         NaN         NaN         NaN         NaN          NaN
2   77.737949   76.813536         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN         NaN         NaN          NaN
4  364.825805  578.258780  631.441956  460.567512  685.020238          NaN

[5 rows x 69 columns]

<>:13: SyntaxWarning: invalid escape sequence '\C'
<>:13: SyntaxWarning: invalid escape sequence '\C'
/var/folders/y4/kt57fxd942z3zncr4rvv6t740000gn/T/ipykernel_88349/522367559.py:13: SyntaxWarning: invalid escape sequence '\C'
  print("\Currency DataFrame:")

In [9]:
currency_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,1.790000,NaN
1,Africa Eastern and Southern,AFE,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,1.719656e+01,1.719656e+01,1.719656e+01,3.510964e+01,3.869226e+01,3.869226e+01,...,61.143462,67.866086,68.026904,72.083247,77.737949,76.813536,NaN,NaN,NaN,NaN
3,Africa Western and Central,AFW,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,2.866844e-08,2.873486e-08,2.867844e-08,2.875203e-08,2.881978e-08,2.877853e-08,...,120.060702,163.656434,165.915951,252.855748,364.825805,578.258780,631.441956,460.567512,685.020238,NaN